body {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.display-row {
    display: flex;
    width: 335px;
}

.button-row {
    display: flex;
    gap: 5px;
}

button {
    width: 80px;
    height: 80px;
    font-size: xx-large;
    font-weight: bold;
}