div.calculatorContainer {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 480px;
    justify-self: center;
    align-content: center;
}

div.row {
    display: flex;
    align-content: center;
    justify-content: left;
    flex: 1;
}

div.row.first {
    display: flex;
    flex: 1;
}

div.display {
    margin: 5px;
    padding-right: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;

    height: 50px;
    font-size: 40px;
    text-align: right;
    align-content: center;

    font-family: 'Courier New', Courier, monospace;
}

button {
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}